continut/resurse/persoane.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persoane" type="persoaneType"/>
  <xs:complexType name="adresaType">
    <xs:sequence>
      <xs:element name="strada">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Stefan cel Mare"/>
            <xs:enumeration value="Aleea Rozelor"/>
            <xs:enumeration value="Constantin Brancusi"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="numar">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="9"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="64"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="localitate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Pascani"/>
            <xs:enumeration value="Iasi"/>
            <xs:enumeration value="Targu Jiu"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="judet">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Iasi"/>
            <xs:enumeration value="Gorj"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="tara"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persoanaType">
    <xs:sequence>
      <xs:element name="nume">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Sadoveanu"/>
            <xs:enumeration value="Dinescu"/>
            <xs:enumeration value="Lambrache"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="prenume">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Mihail"/>
            <xs:enumeration value="Constantin"/>
            <xs:enumeration value="Filip"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="varsta">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="23"/>
            <xs:enumeration value="41"/>
            <xs:enumeration value="21"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="adresaType" name="adresa"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="persoaneType">
    <xs:sequence>
      <xs:element type="persoanaType" name="persoana" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>